.btn {
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.btn__light {
  color: #000;
  background-color: #e1e1e1;
}

.btn__light:hover,
.btn__light:active {
  background-color: #a09d9d;
}

.btn__primary {
  color: #fff;
  background-color: #00a8cc;
}

.btn__primary:hover,
.btn__primary:active {
  background-color: #27496d;
}

.btn:disabled,
.btn__light:disabled,
.btn__primary:disabled {
  cursor: not-allowed;
  color: rgb(102, 102, 102);
  background-color: #a09d9d;
}
